.tasks-component__section {
  padding: 1rem;
  border-radius: 8px;
  max-height: 60vh;
  overflow: auto;
  background-color: #3a2c54;
}

.tasks-component__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 1rem;
}

.tasks-component__title {
  margin: 0;
  font-size: 0.9rem;
  width: 60%;
  text-wrap: balance;
}

.tasks-component__menu {
  margin: 0;
  padding: 0;
}

.tasks-component__menu .tasks-component__add-task-button {
  font: inherit;
  cursor: pointer;
  background-color: #9965dd;
  border-radius: 4px;
  border: none;
  padding: 0.35rem 0.8rem;
  font-size: 0.9rem;
}

.tasks-component__menu .tasks-component__add-task-button:hover,
.tasks-component__menu .tasks-component__add-task-button:active {
  background-color: #a565dd
}

.tasks-component__task-list {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 50vh;
  overflow: auto;
}

@media (min-width: 768px) {
  .tasks-component__title {
    font-size: 1.25rem;
  }

  .tasks-component__menu {
    width: auto;
  }
}