.app-component__main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

.app-component__users {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  overflow: auto;
}

@media (min-width: 768px) {
  .app-component__main {
    margin: 4rem auto;
    grid-template-columns: 1fr 3fr;
  }

  .app-component__users {
    flex-direction: column;
  }
}
