<app-header />
<main class="app-component__main">
  <ul id="users" class="app-component__users">
    <!-- @for(user of users; track user.id) { -->
      <li *ngFor="let user of users">
        <app-user [user]="user" [selected]="user.id === selectedUserId" (selectUser)="onSelectUser($event)" />
      </li>
    <!-- } -->
  </ul>

  <!-- @if(selectedUser) { -->
    <app-tasks *ngIf="selectedUser; else fallback" [user]="selectedUser" />
  <!-- } @else { -->
    <ng-template #fallback>
      <p id="fallback" class="app-component__fallback">Select a user to see their tasks!</p>
    </ng-template>
    <!-- } -->
</main>
