.task-component__article {
  padding: 1rem;
  color: #25113d;
  background-color: #bf9ee5;
}

.task-component__title {
  margin: 0;
}

.task-component__time {
  color: #3c2c50;
}

.task-component__actions {
  text-align: right;
  margin: 0;
}

.task-component__actions .task-component__complete-button {
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #380774;
  color: #decdf2;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.task-component__actions .task-component__complete-button:hover,
.task-component__actions .task-component__complete-button:active {
  background-color: #4a0774;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
